.Hub {
  /* text-align: center; */
  font-family: 'Raleway', sans-serif;
  background-color: #8b85f9;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.Hub-body {
  background-color: #34373e;
  background-image: url('../public/background-image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #d5d5d5;
}

h1 {
    font-size: 50px;
}
  
h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}
.nav {
    background-color: #0e0e10;
    padding: 1em;
    width: fill;
}
.Link {
    color: #d5d5d5;
}
.Link:hover {
    color: #969696;
}